@import 'styles/variables';

.dropDown {
    position: absolute;
    top: calc(100% + 5px);
    left: 1px;
    background-color: $white;
    min-width: 140px;
    width: fit-content;
    max-width: 400px;
    min-height: 50px;
    height: fit-content;
    max-height: 500px;
    border: 1px solid $bg-light-gray;
    border-radius: 4px;
    z-index: 50;
    cursor: default;
}

.startFromRight {
    right: 1px;
    left: auto;
}