.categorySection {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  max-width: 100%;
}

.categories {
  display: flex;
  justify-content: center;
  min-width: 100%;
  flex-wrap: wrap;
  gap: 50px;
}