@import "styles/variables";

.container {
  max-height: 100vh;
  height: 90%;
  width: 100%;
}
.titleSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    color: $text-dark;
    padding-left: 8px;
  }
}

.profile {
  background-color: $bg-white-2;
  padding: 16px;
  max-height: 75vh;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  border-radius: 15px;
  .leftMainContainer {
    flex: 1;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .left {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    .profile_image {
      position: relative;

      .editProfileIcon {
        height: 28px;
        width: 28px;
        cursor: pointer;
        position: absolute;
        color: $bg-primary;
        bottom: 30px;
        right: 0px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        border-radius: 50%;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid $bg-primary;
        }
      }
    }
    .avatarsContainer {
      display: flex;
      gap: 20px;
      width: 350px;
      flex-wrap: wrap;
      justify-content: center;
      padding: 16px;
      border-radius: 10px;
      background-color: $bg-greenish-white-2;
      .avatar {
        height: 50px;
        background-color: $bg-greenish-white;
        border-radius: 50%;
        cursor: pointer;
        img {
          height: 100%;
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
  .rightMainContainer {
    flex: 1;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .right {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 24px;
    padding-top: 0;
    gap: 20px;
    border-left: 1px solid $bg-greenish-white;
  }
  .inputControlContainer {
    position: relative;
    display: flex;
    padding-left: 40px;
    width: 100%;
    gap: 20px;
    span {
      position: absolute;
      right: 0;
      color: $text-secondary;
      cursor: pointer;
      height: fit-content;
    }
  }
}
.sections {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .headingSection {
    display: flex;
    align-items: center;
    gap: 16px;
    color: $bg-tertiary;
    z-index: 1;
    font-size: 20px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 11px;
    height: 100%;
    width: 2px;
    border-radius: 5px;
    background-color: $bg-greenish-white;
  }
}
.lastSection {
  height: 0;
}

#imageInput {
  display: none;
}
.changeDetailModal {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 20px;
  .buttonContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
  }
}
.passwordControl {
  span {
    position: relative !important;
  }
}
.additionalStyle {
  box-shadow: 0px 0px 10px solid $bg-greenish-white-2 !important;
}
