@import "styles/variables.scss";

.container {
  height: 100vh;
  width: 80px;
  display: flex;
}
.mainPanel {
  position: sticky;
  height: 100%;
  display: flex;
  list-style: none;
  padding-bottom: 16px;
}
.fixedChild {
  position: absolute;
  display: flex;
  width: 75px;
  height: 100%;
  gap: 30px;
  padding-top: 16px;
  padding-left: 18px;
  border-right: 1px solid $bg-greenish-white;
  flex-direction: column;
  background-color: $white;
  transition: all 0.5s;
  li {
    overflow: hidden;
    width: 0;
    color: $text-medium-gray;
  }
}
.fixedChildActive {
  position: absolute;
  display: flex;
  width: 150px;
  height: 100%;
  gap: 30px;
  padding-top: 16px;
  padding-left: 18px;
  flex-direction: column;
  background-color: $white;
  border-right: 1px solid $bg-greenish-white;
  li {
    width: 50px;
    color: $text-medium-gray;
  }
}
.itemContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.selectedSymbol {
  height: 25px;
  width: 3px;
  background-color: $bg-primary;
  float: right;
  border-radius: 2px;
}
.iconContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  height: fit-content;
  padding: 0.5rem;
  padding-right: 0;
  color: $text-dark-gray;
  text-decoration: none;
}
.navlinkActive {
  display: flex;
  align-items: center;
  gap: 10px;
  height: fit-content;
  padding: 0.5rem;
  padding-right: 0;
  text-decoration: none;
  li {
    color: $text-primary;
  }
  svg {
    color: $text-primary;
  }
}
.icon {
  font-weight: 700;
  height: 20px;
  color: $bg-medium-gray;
}
