@import "styles/_variables.scss";

.card {
  width: fit-content;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid $bg-greenish-white;
  border-radius: 15px;
}
.discount {
  background-color: $bg-red;
  width: fit-content;
  padding: 0rem 0.5rem;
  border-radius: 3px;
}
.image img {
  height: 150px;
  width: 200px;
  object-fit: cover;
}
.productName {
  font-size: 20px;
  font-weight: 600;
  color: $text-dark-gray;
}
.netWeight {
  color: $text-light-gray;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
