@import "styles/variables";

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  .heading {
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.41px;
  }
  .left {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    .heading {
      display: flex;
      flex-direction: column;
      font-weight: 800;
      color: $text-secondary;
    }
    .imageContainer {
      position: absolute;
      right: 5%;
      top: 0;
      height: 100%;
      z-index: -1;
      .bgImage {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        filter: revert;
        mix-blend-mode: multiply;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .mobileLogin {
      border: 1px solid $bg-light-gray;
      width: 70%;
      border-radius: 10px;
      padding: 25px 35px;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      .mobileLogin_divider {
        width: 100%;
        border-bottom: 1px solid $bg-light-gray;
        margin-top: 25px;
      }
      .mobileLogin_form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: flex-start;
        .nameFields {
          display: flex;
          gap: 15px;
        }
      }
      .submitButton {
        user-select: none;
      }
    }
    .crateAccount {
      margin-top: 20px;
      text-align: center;
      font-size: 16px;
      .helperText {
        font-weight: 700;
        text-decoration: underline;
        cursor: pointer;
        color: $black;
      }
    }
  }
  .registerRightPanel_otp {
    width: 50%;
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
