@import 'styles/variables';

.container {
    width: 220px;
    border-radius: 10px;
    border: 1px solid $bg-light-gray;
    padding: 10px;
    position: relative;
    overflow: hidden;
    transition: 200ms;

    &:hover {
        transform: scale(1.03);
    }

    .discount {
        position: absolute;
        top: 10px;
        left: -5px;
        font-size: 0.875rem;
        background-color: $bg-orange;
        color: $white;
        border-radius: 5px;
        padding: 3px 8px;
    }

    .red {
        background-color: $bg-red;
    }

    .imageContainer {
        width: 100%;
        height: 180px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .body {
        padding: 10px;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .title {
            user-select: none;
            font-weight: 500;
            font-size: 1rem;
            width: 100%;
            overflow-x: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .price {
            user-select: none;

            span {
                font-weight: 500;
            }
        }

        .footer {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;

            .quantity {
                display: flex;
                align-items: center;
                gap: 5px;

                svg {
                    height: 16px;
                    width: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: 200ms;

                    &:active {
                        transform: scale(0.8);
                    }
                }

                input {
                    border: none;
                    outline: none;
                    max-width: 28px;
                    width: fit-content;
                    font-size: 1rem;
                    text-align: center
                }
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}