$primary-font: "DM Sans";

$white:#fff;
$black:#000;

// background-colors (starts with bg)
$bg-primary:#510056;
$bg-dark:#100f29;
$bg-white-1:#f9f7f0;
$bg-greenish-white:#dce7df;

// text colors (starts with text)
$text-primary:#510056;