$primary-font: "DM Sans";

$white:#fff;
$black:#000;

// background-colors (starts with bg)
$bg-primary:#8e21de;
$bg-secondary:#3021DE;
$bg-dark:#100f29;
$bg-white-1:#f9f7f0;
$bg-light-gray:#e2dfd6;
$bg-medium-gray:#c5c3bd;
$bg-gray:#b6b6b6;
$bg-greenish-white:#dce7df;
$bg-red:#fb5e5e;

// text colors (starts with text)
$text-primary:#8e21de;
$text-secondary:#3021DE;
$text-dark:#100f29;
$text-light-gray: #9eaab7;
$text-dark-gray: #566474;
$text-red: #ff0000;