$primary-font: "DM Sans";

$white: #fff;
$black: #000;

// background-colors (starts with bg)
// $bg-primary: #8e21de;
$bg-primary: #268385;
$bg-secondary: #3021de;
$bg-tertiary: #566474;
$bg-dark: #100f29;
$bg-white-1: #f9f7f0;
$bg-light-gray: #e2dfd6;
$bg-medium-gray: #c5c3bd;
$bg-gray: #b6b6b6;
$bg-greenish-white: #dce7df;
$bg-greenish-white-2: #f4f7f5;
$bg-red: #fb5e5e;

// text colors (starts with text)
$text-primary: #8e21de;
$text-secondary: #3021de;
$text-dark: #100f29;
$text-light-gray: #9eaab7;
$text-dark-gray: #566474;
$text-red: #ff0000;
