@import "styles/variables";

.container {
    min-width: 800px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .heading {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .body {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .formElem {
            label {
                font-size: 1rem;
                font-weight: 500;
                color: $text-dark-gray;

                span {
                    font-size: 0.875rem;
                }
            }

            textarea {
                resize: none;
                margin-bottom: 0;
            }
        }

        .row {
            display: flex;
            gap: 20px;
            align-items: flex-start;
        }

        .equalRow {
            display: flex;
            gap: 20px;
            align-items: center;

            &>* {
                flex: 1;
            }
        }

        .availability {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                font-size: 1rem;
                font-weight: 500;
                color: $text-dark-gray;

                span {
                    font-size: 0.875rem;
                }
            }

            .buttonRow {
                align-items: flex-end;

                button {
                    margin-bottom: 3px;
                }
            }

            .availabilities {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
            }
        }
    }

    .footer {
        display: flex;
        gap: 30px;
        justify-content: flex-end;
    }
}