@import "styles/variables";

.container {
  height: 100vh;
  width: 100%;
  display: flex;

  .heading {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    letter-spacing: 1.5px;
    user-select: none;
  }
  .left {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    .heading {
      font-size: 50px;
      font-weight: 800;
      background: $text-secondary;
      color: $bg-white-1;
      padding: 0.81rem 0.85rem;
    }
    .imageContainer {
      position: absolute;
      right:5%;
      top: 0;
      height: 100%;
      z-index: -1;
      .bgImage {
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .mobileLogin {
      border: 1px solid $bg-light-gray;
      width: 55%;
      border-radius: 10px;
      padding: 35px 45px;
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      .mobileLogin_divider {
        width: 100%;
        border-bottom: 1px solid $bg-light-gray;
        margin-top: 25px;
      }
      .mobileLogin_form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: flex-start;
        .resendOTP {
          font-size: 1rem;
          font-weight: 700;
          color: $bg-tertiary;
          cursor: pointer;
          user-select: none;

          &:hover {
            color: $bg-dark;
          }
        }
      }
      .submitButton {
        width: 100%;
        padding: 8px 20px 8px 16px;
        text-transform: uppercase;
        letter-spacing: 0.11rem;
        user-select: none;
      }
    }
    .crateAccount {
      margin-top: 20px;
      text-align: center;
      font-size: 16px;
      .helperText {
        font-weight: 700;
        text-decoration: underline;
        color: $black;
        cursor: pointer;  
      }
    }
  }
}
