.container {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 3px 0;

    input {
        margin: 0;
        padding-right: 31px;
    }

    .eye {
        position: absolute;
        right: 10px;
        top: 50%;
        cursor: pointer;
        height: 18px;
        width: 18px;
        transform: translateY(-50%);

        svg {
            height: 100%;
            width: 100%;
        }
    }
}