@import "styles/variables";

.container {
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid $bg-light-gray;
    width: fit-content;
    display: flex;
    gap: 8px;
    align-items: center;
    color: $text-dark;

    span {
        line-height: 1rem;
    }

    svg {
        height: 16px;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $bg-dark;
    }
}

.orange {
    background-color: $bg-reddish-white;
    color: $text-orange;
    border-color: $text-orange;

    svg {
        color: $text-orange;
    }
}

.red {
    background-color: $bg-reddish-white;
    color: $text-red;
    border-color: $text-red;

    svg {
        color: $text-red;
    }
}