@import "styles/variables";

.card {
  width: 120px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  .cardImage {
    background-color: $bg-greenish-white-2;
    border-radius: 10px;
  }

  img {
    width: 100%;
    height: 130px;
    object-fit: contain;
  }

  p {
    text-align: center;
    color: $text-dark;
  }
}