@import "styles/variables";

.otpForm {
  height: 100%;
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBody {
  border: 1px solid $bg-light-gray;
  height: fit-content;
  width: 100%;
  max-width: 550px;
  min-width: 450px;
  background-color: $white;
  border-radius: 10px;
  padding: 35px 45px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.resend {
  cursor: default;
  font-size: 0.875rem;
  font-weight: bold;
  color: $text-light-gray;
  width: fit-content;
}

.activeResend {
  color: $text-dark-gray;
  cursor: pointer;
}
