@import "styles/variables";

.outer {
  width: 100%;
  display: flex;
  height: 100vh;
  .leftPortion {
    flex: 2;
    height: 100%;
    overflow-y: scroll;
    .shopTitle {
      font-size: 2rem;
      margin-left: 1rem;
      font-weight: 400;
      margin-top: 1rem;
      color: $text-dark-gray;
      span {
        font-size: 1.1rem;
      }
      color: $bg-black-translucent;
    }
    * {
      user-select: none;
    }
    .leftInner {
      display: flex;
      flex-direction: column;
      padding-top: 3%;
      align-items: center;

      .productDetailsbox {
        width: 70%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        .productsList {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          border-bottom: 1px solid $bg-light-gray;
          background: $bg-white-2;
          .productCard {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.4rem 1rem;
            color: $text-dark-gray;
            font-weight: 500;
            .productInfo {
              height: 5rem;
              justify-content: space-around;
              display: flex;
              align-items: center;
              padding: 0.41rem 0;
              .productImgbox {
                height: 5rem;
                width: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .productImg {
                  width: 100%;
                  height: 100%;
                  border-radius: 15%;
                }
                .discountPrice {
                  background: $bg-orange;
                  color: $text-dark;
                  font-weight: 500;
                  position: absolute;
                  left: -1rem;
                  top: -0.41rem;
                }
              }
              .aboutBox {
                margin-left: 0.61rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;

                .productName {
                  width: 10rem;
                  font-size: 15px;
                  overflow-x: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }
                .availableIn {
                  font-weight: 400;
                  width: 60%;
                  display: flex;
                }
                .productPrice {
                  font-weight: 400;
                }
              }
            }
            .qtyCounter {
              display: flex;
              font-weight: 500;
              justify-content: space-between;
              align-items: center;
              width: 4rem;
              .qtyValue {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .qtyInc {
                cursor: pointer;
                height: 1.1rem;
                width: 1.1rem;
                &:hover {
                  color: $bg-primary;
                }
              }
              .qtyDec {
                width: 1.1rem;
                height: 1.1rem;
                cursor: pointer;
                &:hover {
                  color: $bg-primary;
                }
              }
            }
          }
          .totalItem_price {
            font-weight: 500;
            user-select: none;
          }
        }
        .deleteItemBox {
          display: flex;
          cursor: pointer;
          width: 16rem;
          color: $text-dark-gray;
          justify-content: center;
          align-items: center;
          font-weight: 400;
          font-size: 1rem;
          .deleteItemIcon {
            width: 1.3rem;
          }
        }
      }
    }
  }

  .rightPortion {
    height: 92%;
    flex: 0.71;
    background: $bg-dark;

    .orderTitle {
      font-size: 2rem;
      margin-left: 1rem;
      text-align: center;
      color: $text-medium-gray;
      font-weight: 400;
      margin-top: 1rem;
    }
    .rightInner {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .cartTotal_box {
        display: flex;
        flex-direction: column;
        height: 40%;
        justify-content: space-between;
        .cartTotal_details {
          height: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          .itemPrice,
          .taxPrice,
          .shippingCharges,
          .totalPrice {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width:90%;
          }
          .totalPrice{
            margin-top: .61rem;
            border-top: 1px solid $bg-light-gray;
          }
          .cartTotal_text {
            font-size: 1rem;
            font-weight:400;
            color: $text-medium-gray;
          }
          .cartTotal_number {
            color: $text-primary;
            font-weight: bold;
            margin-left: 1rem;
          }
        }
        .totalPrice_bottomtext {
          font-size: 0.81rem;
          color: $text-medium-gray;
        }
      }
      .checkoutBox {
        width: 100%;
        height: 6rem;
        display: flex;

        .checkoutButton {
          font-weight: 500;
          border: none;
          font-size: 1.2rem;
          height: 5rem;
          width: 100%;
          margin-top: auto;
          cursor: pointer;
          transition: ease 0.3s;
          color: $text-medium-gray;
          background: $bg-black-translucent;
          &:hover {
            background: $bg-light-gray;
            color: $text-dark;
          }
        }
      }
    }
  }
}
