@import "styles/variables";

.outer {
  width: 100%;
  display: flex;
  height: 100%;
  background: $bg-greenish-white-2;
  .leftPortion {
    flex: 1.8;
    background: $bg-white-1;
    .leftInner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4%;
      .labelTop {
        display: flex;
        width: 100%;
        text-transform: uppercase;
        justify-content: space-around;
      }
      .productDetailsbox {
        min-width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .aboutProducts {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          .productInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            .productImgbox {
              height: 130px;
              width: 130px;
              display: flex;
              justify-content: center;
              align-items: center;
              .productImg {
                width: 90px;
                height: 90px;
              }
            }
            .productName {
              width: 10rem;
              text-align: center;
            }
            .deleteItem {
              position: absolute;
              top: 0;
              right: 0.81rem;
              cursor: pointer;
            }
          }
          .productPrice {
            width: 5rem;
          }
          .qtyCounter {
            display: flex;
            justify-content: space-around;
            width: 5rem;
          }
        }
        .totalItem_price {
          font-weight: bold;
          color: $text-secondary;
        }
      }
    }
  }

  .rightPortion {
    flex: 1;
    background: $bg-greenish-white-2;
    display: flex;
    height: 70vh;
    justify-content: space-around;
    .rightInner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .horizontalBar {
        height: 1rem;
        width: 12rem;
        border-bottom: 5px solid $text-secondary;
      }
      .totalPrice_box {
        display: flex;
        flex-direction: column;
        height: 3rem;
        justify-content: space-between;
        .cartTotal {
          display: flex;
          justify-content: center;
          width: 80%;
          .cartTotal_text {
            margin-left: 1rem;
          }
          .cartTotal_number {
            color: $text-primary;
            font-weight: bold;
            margin-left: 1rem;
          }
        }
        .totalPrice_bottomtext {
          color: $bg-black-translucent;
          font-size: 0.81rem;
        }
      }
    }
  }
}
